<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
  	<title>Restaurant</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<style>
	  h1, h2, h3, #button {
	    text-align: center;
	  }
	  h1{
	  	font-family: 'Bungee Shade', cursive;
	  }
	  #main{
	  font-family: 'EB Garamond', serif;
	  position:relative;
	  height: 90vh;
	  }
	  body {	 
    	background-color: #D2B48C;
      }  
	  #about {
	  	float: left;
	  	width: 40%;
	  	height: 40%;
	  	font-size: 16px;
	  }
	  #about2 {
	  	float: right;
	  	width: 40%;
	  	height: 40%;
	  	font-size: 16.5px;
	  }
	  #contacts {
	  	position:absolute;
	  	bottom: 5%;
	  	margin:0 35% 0 25%;
 		width:40%;
 		text-align: center;
 		font-size: 20px;
	  }
	  #footer {
	  	float:right;
	  }
  	</style>
</head>
<body>
  	<div class="container">
	    <div id="main" class="jumbotron">
	      	<h1><b>BELLAGIO</b></h1> <br />
	      	<div id="button">
	      	<a href="/"><button type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-home"></span>На главную</button></a></div>
	      	<hr>
	      	<div id="about">
	      	Ресторан «Bellagio» расположен в одном из живописнейших исторических мест в непосредственной близости от Воробьевых гор, Храма Живоначальной Троицы на Воробьёвых горах, киноконцерна «Мосфильм», Площади Звезд Российского кинематографа и еще многих известных объектов туристической Москвы. <br />
			К одному из важнейших достоинств стоит отнести возможность выбора формата проводимых мероприятий, как по количеству гостей, выбору кухни и месту проведения. От строго официальных до уютных небольших праздников на свежем воздухе или в атмосфере милого итальянского патио.<br />
			Большая внутренняя территория, утопающая в зелени деревьев, с классическим римским двориком, фонтаном, водопадом создает все необходимые условия для того, чтобы ваш праздник оставил самые яркие и приятные воспоминания. А какой простор для фантазий декораторов и фотографов!
	      	</div>
	      	<div id="about2">
	      	Веранда «Bellagio» всегда открыта для Вас в любое время года. Плетеная мебель с высокими спинками, обилие текстиля и подушек сделает ваш отдых комфортным и уютным.<br />
	      	В летнее время, это открытое итальянское патио, выходящее на чудесный сад с фонтаном и полностью отстраняющее вас от шума города и его суеты.<br />
	      	Если Вы посетите нас в вечернее время, вас будет ждать живая музыка в исполнении профессиональных музыкантов.<br />
	      	Банкетный зал. Комплекс с отдельным входом, гардеробом, баром, аперитивным залом, террасой, концертной площадкой.<br />
	      	Приглушенный мягкий свет придает утопающему в коврах, выполненному в стиле неоклассицизма, банкетному залу атмосферу парадности и торжественности.
	      	</div>
	      	<div id="contacts">
	      		<h2>Контакты<br /></h2>
	      		RECEPTION: с 14:00 до 24:00<br /> +7 (499) 143 8887 <br />
	      		Адрес: Москва, ул. Мосфильмовская, д.8<br />
	      		Электронный адрес: bellagiomoscow@mail.ru info@bellagiomoscow.ru<br />     	   
	      	</div>
	    </div>
		<div id="footer">{{> footer}}</div>
	</div>
</body>
</html>